<h1>Your Bookings</h1>


<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to booking.start_date, booking_path(booking.id) %></li>
  <% end %>
</ul>

<%= link_to 'Create a Booking', new_booking_path %>
