<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <% if booking.user_id == @current_user.id %>
          <%= booking.start_date.strftime('%A %e %B, %Y') %> - <%= booking.end_date.strftime('%A %e %B, %Y') %>: <%= booking.home.name %>
          <%= link_to 'View Details', booking_path(booking.id) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div><h2>Your Bookings</h2>
