<div class="container">
  <% content_for :header do %>
    <%= stylesheet_link_tag 'homepage', media: 'all' %>
  <% end %>

  <%= image_tag 'https://images.unsplash.com/photo-1474690455603-a369ec1293f9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=9aedb8702984f67b18a9af4df6f45bc4', :class => 'homefeature' %>

  <div class="homecontainer">
    <h1>Home, wherever you are</h1>


    <%= link_to 'Explore Homes', homes_path, :class => 'landerbutton' %>
    <%= link_to 'Explore Cities', cities_path, :class => 'landerbutton' %>



  </div>
</div>
