@import 'https://fonts.googleapis.com/css?family=Lato|Quicksand:300,400,700';

html {
  box-sizing: border-box;
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #6E6E6E;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #3D3D3D;
}

body {
  margin: 0;
}
.homefeature {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top center;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.homecontainer {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.home-show-container {
  width: 80vw;
  margin: 0 auto;
  margin-top: 60vh;
}

.home-show-container p {
  line-height: 30px;
}

.home-header {
  position: relative;
}

.home-header h2 {
  position: absolute;
  text-align: right;
  font-weight: 500;
  right: 10px;
  bottom: 90px;
  margin: 0;
  font-size: 4em;
  color: #8C8C8C;
}

nav {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #00EAFF;
  background-color: rgba(245, 245, 245, 0.7);
  z-index: 1;
}
.main-nav {
  width: 40%;
  justify-content: space-between;
}
.credentials {
  width: 60%;
  justify-content: flex-end;
  text-align: right;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
nav a {
  padding: 10px;
}



h1, h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 5em;
  text-align: center;
}
h2 {
  margin-top: 60px;
}
h3 {
  font-size: 25px;
  font-weight: 100;
}
.landerbutton,
.controllers a,
.addhome {
  margin: 15px;
  padding: 15px;
  border: 2px solid #00EAFF;
  border-radius: 30px;
}
.addhome {
  position: absolute;
  top: 40px;
  right: 6vw;
}
.controllers {
  position: absolute;
  right: 20vw;
  top: 62vh;
}
.cities_display,
.homes_display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;

}
.city_thumb_wrapper,
.home_thumb_wrapper {
  position: relative;
  width: 320px;
  margin: 20px;
}
.city_thumb_wrapper p,
.home_thumb_wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  font-size: 4em;
  color: #F5F5F5;
}
.thumb {
  width: 100%;
  border-radius: 1px;
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
}

.home-index,
.bookings-index {
  width: 100%;
  height: 160px;
  background-color: #F0F0F0;
  border-bottom: 2px solid #B2B2B2;
  border-radius: 6px;
  margin: 25px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
}
.price {
  color: #00B0FF;
}
.home-index p {
  width: 50%;
}
.name-price,
.booking-name {
  width: 15%;
}
.home-index-thumb,
.booking-index-thumb {
  width: 20%;
  border-radius: 2px;

}
.feature {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top center;
  opacity: 0.9;
  position: fixed;
  top: -50vh;
  left: 0;
  z-index: -1;
}

form {
  width: 40vw;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
}
label {
  margin: 15px auto;
  text-align: center;
  display: block;

}

.submit {
  margin: 0 auto;
}
.submit select {
  width: 100%;
}

.booking-form {
  text-align: center;
}
